<a href="https://colab.research.google.com/github/cJagno/Sales-Predictions/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Cleaning

In [358]:
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [359]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [360]:
sales = pd.read_csv('/content/drive/MyDrive/PT_Data_Science/PandasForDataManipulation/sales_predictions.csv')

In [361]:
sales.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [362]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [363]:
#sales['Item_Identifier'].value_counts()

In [364]:
#sales['Item_Identifier']

In [365]:
sales.shape

(8523, 12)

In [366]:
out_ident = sales['Outlet_Identifier']== 'OUT045'
out_ident2 = sales['Outlet_Identifier']== 'OUT010'
out_loc3 = sales['Outlet_Location_Type']== 'Tier 3'
out_loc2 = sales['Outlet_Location_Type']== 'Tier 2'
out_loc1 = sales['Outlet_Location_Type']== 'Tier 1'
out_type1 = sales['Outlet_Type']== 'Supermarket Type1'
out_type2 = sales['Outlet_Type']== 'Supermarket Type2'
out_type3 = sales['Outlet_Type']== 'Supermarket Type3'
out_type4 = sales['Outlet_Type']== 'Grocery Store'

In [367]:
#Supermarket Type2 and Type3 = medium Grocery Store = small
sales[out_type1].value_counts('Outlet_Size')

Outlet_Size
Small     1860
High       932
Medium     930
dtype: int64

In [368]:
sales[out_loc3].value_counts('Outlet_Size')

Outlet_Size
Medium    1863
High       932
dtype: int64

In [369]:
sales[out_ident].shape

(929, 12)

In [370]:
sales[out_ident].head()

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
8            FDH17       16.200  ...  Supermarket Type1          1076.5986
33           FDO23       17.850  ...  Supermarket Type1          2174.5028
46           NCP05       19.600  ...  Supermarket Type1          2428.8384
47           FDV49       10.000  ...  Supermarket Type1          5815.0972
56           NCX54        9.195  ...  Supermarket Type1          2117.2440

[5 rows x 12 columns]

In [371]:
sales['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [372]:
sales.loc[sales['Item_Fat_Content'] == 'LF', 'Item_Fat_Content'] = 'Low Fat'
sales.loc[sales['Item_Fat_Content'] == 'reg', 'Item_Fat_Content'] = 'Regular'
sales.loc[sales['Item_Fat_Content'] == 'low fat', 'Item_Fat_Content'] = 'Low Fat'

In [373]:
sales['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [374]:
sales['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [375]:
size_mis = sales['Outlet_Size'].isna()
outtypedf = sales.loc[size_mis,:]
outtypedf['Outlet_Type'].value_counts()
type_grocery = sales['Outlet_Type']== 'Grocery Store'
type_superT1 = sales['Outlet_Type']== 'Supermarket Type1'

In [379]:
#type1filt = sales['Outlet_Type']== 'Supermarket Type1'
sales.fillna(sales.mean(),inplace=True)
#sales.loc[out2df,:].fillna('High', inplace=True) 
#grocerytypedf = outtypedf.loc[outtypeGdf, :]
#grocerytypedf.loc[0:, 'Outlet_Size'].fillna('Small', inplace=True)
#supertype1df = outtypedf.loc[outtypeT1df,:]
#supertype1df.loc[0:, 'Outlet_Size'].fillna('High', inplace=True)
#sales.loc[type_grocery & size_mis].fillna('Small', inplace=True)
#sales.loc[size_mis & type_superT1].fillna('High', inplace=True)
sales.loc[0:, 'Outlet_Size'].fillna('High', inplace=True)

In [380]:
#Supermarket type1= mixed Type2 and Type3 = medium Grocery Store = small
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB